body{
    background: rgba(200, 229, 255,0.4) ;
   
    /* text-transform: uppercase; */
    font-size: 1.15em;
    
    text-align: justify;
    font-family: 'Aboreto', cursive;
 
}

#title {
    color: rgb(186, 133, 9);
    font-weight: 400;
}
.subtitle {
    border: 6px solid #dfd;
     margin: 80px 40px;
    
    font-family: "Sarabun", sans-sherif;
}

#service-image {
    height: 400px;
    width: 60%;
    
    background-repeat: no-repeat;
    background-color: steelblue;


    background: radial-gradient(circle, red 20%, blue);
  
}

.link{
    text-decoration:  black;
}

.italics {
    font-style: oblique;
}

#about-us-image {
	height: 300px;
	width: 60%;

	border: 6px solid rgb(28, 28, 79);
	margin: 80px 40px;

	float: right;
}

.site-table{
    display: inline-block;
}

.container {
	background-color: rgb(250,250,250);
	margin: 10px;
	height: 300px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container-item {
	background: rgb(36, 130, 39);
  color: white;
  font-size: 25px;
  text-align: center;

  width: 70px;
  line-height: 50px;
  margin: 10px; 
}

.grid-container {
	background-color: rgb(250,250,250);
	margin: 10px;
	height: 500px;

	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
}

.grid-item {
  color: black;
  font-size: 25px;
  text-align: center;

  width: 70px;
  line-height: 40px;
  margin: 10px; 
}
.submit-button {
	margin: 20px 10px;
	padding: 10px 15px;
	border: none;
	text-decoration: none;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: white;
	background: rgb(89, 150, 255);
	transform: matrix(1, 0.45, 0.45, 1, 100, 50);
	-webkit-transition: background, padding 500ms ease;
	-moz-transition: background, padding 500ms ease;
	-o-transition: background, padding 500ms ease;
}

.submit-button:hover {
	background: rgb(147, 187, 255);
	padding: 20px 30px;
}